<div class="row row-cols-1 row-cols-md-2 g-4 container-fluid">
  <div class="col">
    <div class="card ms-5 mt-5 h-75 w-75" style="border:none;">
    <%=image_tag "logos/wall.jpg", alt: 'My Image', style:"height:100%;width:100%"%>
    </div>
  </div>
  <div class="col">
  <div class="card ms-3 mt-3" style="border:none;background-color:black;">
      <%= form_with(model: @album, local:true) do |form|%>
        <div>
          <%= form.label :Artist ,class:"label_form"%><br>
          <%= form.text_field :title ,class:"label_input"%>
          <% album.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label :Description ,class:"label_form"%><br>
          <%= form.text_area :body ,class:"label_input"%><br>
          <% album.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label :Cover_Image ,class:"label_form"%><br>
          <%= form.file_field :image ,class:"label_btn"%>
        </div><br>

        <div>
          <%= form.label :Audio_file ,class:"label_form"%><br>
          <%= form.file_field :audios, multiple: true, direct_upload: true ,class:"label_btn"%>
        </div><br>

        <div>
          <%= form.label :published%>
          <%= form.check_box :published %>
        </div><br>
        <div class= "form-group ">
            <%= form.label :tag_ids, 'Tags'%>
            <%= form.select :tag_ids, options_from_collection_for_select(Tag.order(:name), :id, :name, form.object.tag_ids), { multiple: true }, class:"bg-dark" %>
            </div>
      
        <div>
          <%= form.submit "Save Changes",class:"btn btn-danger show_btn" %>
        </div>
        
   <% end %>
     </div>
    </div>
  </div>



